.button {
    -fx-background-color: lightgrey;
    -fx-background-radius: 0;
    -fx-border-color:black;
    -fx-border-width: 3;
}
#nagySzam {
    -fx-font-size: xx-large;
}
#kiirtSzamok {
    -fx-font-size: x-large;
}
